.title{
    font-size: 8rem;
}
.info {
    font-size: 3rem;
}
.footer {
    background-color: rgb(48, 48, 128);
    color: beige;
    padding: 2rem 0 2rem 0;
}
.footer-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.footer-ul a{
    text-decoration: none;
    color: beige;
}
.cookies {
    background-color: lightgray;
    padding: 2rem;
    position: fixed;
    bottom:0;
    right:0;
}
.modal {
    position: absolute;
    top:0; 
    left: 0;   
    background-color: rgba(94, 94, 94, 0.397);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
   
}
.modal-container {
    color: black;    
    opacity: 1;
    background-color: white;
    z-index: 2;
    width: 50%;
}
.buttons {
    display: flex;
    justify-content: space-around;
}