.contenedor-flex {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    max-width: 70vw;       
}
.noticia {    
    width: 48%; /*esto es para que se hagan las dos columnas, lo importante es el wrap*/
    margin: 5px;
    
}
.noticia-principal {
    order: -1;
    width: 100%; /*esto para que la noticia principal ocupe todo el ancho*/
    margin: auto;
}
.noticia img {
    display: block; /*esto es para que la imagen ocupe todo su espacio horizontal*/
    width: 100%;
    height: 150px;
    object-fit: cover; /* esto es para que la imagen se adapte a la forma del contenedor*/
}
