* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main {
    padding: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}
.rojo {
    color: #CC212A;
}
footer {
    position:fixed;
    bottom: 0rem;
    background-color: aqua;
    width: 100vw;
   
}