* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  color: rgb(185, 144, 67);
  margin-top: 10px; margin-left: 5px;
}
.main-nav {
  margin-top: 30px;
  list-style: none;
  padding-left: 10px ;
  background-color: rgb(224, 220, 172);
}
.main-nav-item {
  display: inline-block;
  margin-right: 3rem;
  font-size: large;
  font-weight: bold;
}
.main-nav-item a {
  text-decoration: none;
  color: darkolivegreen;
}
.alt-main-nav-item a {
  color: rgb(189, 115, 19);
}
.main-nav-item a:hover {
  color:rgb(121, 97, 52)
}
.main-nav-item a::before {
  content: " | ";
}
.main-nav-item a::after {
  content: " | ";
}
main {
  width: 100%;
  height: 100%;
  border: 5px solid rgb(224, 220, 172);
  padding: 5px 40px;
  background-color: rgb(252, 242, 223);
}
h2 {
  font-size: 2rem;
  color: darkolivegreen;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.lista {
  font-size: 1.6rem;
  margin-top: 5px;
  font-style: oblique; list-style: none;
  font-weight: bold;
  color: rgb(185, 144, 67) ;
}
ol > li {
  list-style: none; font-size: 1.4rem;
}
ol > li a {
  color: darkolivegreen; text-decoration: none;
}
ol > li a:hover {
  color:goldenrod;
}
.foto-verduras {
  margin-top: 2rem;
}
figcaption {
  color: rgb(77, 97, 46);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

span {
  color: rgb(196, 102, 15);
  font-size: 1.4rem;  
}
