* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.articulo {
    border: solid 8px black;    
    height: 100vh;
    
}
.contenedor {    
    margin-top: 106px;       
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: left;  
    width: 50%;
    position: relative;
    left:25%;
    
    
}
.autor {
    font-size: 18px;
    margin-bottom: 40px;
    position: relative;
    left: 20px;
    width:20%;
}
h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
.texto-principal {    
    font-size: 18px;
    margin-bottom: 27px;
}
.enlace {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
}

