.main {
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        text-align: center;
    }
}
.section {
    &__button {
        background-color: $buttonColor;
        height: 45px;
        border-radius: 5px;
    }
}