* {
    box-sizing: border-box;
    margin: 0;
}
header {
    display: flex;
    background-color: rgb(136, 76, 76);
    height: 10vh;
    justify-content: center;
}
.contenedor-cuerpo {
    display: flex;
    flex-direction: row; 

}
.aside1 {
    background-color: yellow;
    height: 80vh;
    width: 20%;
    
}
.parrafo-central {
    background-color: aqua;
    height: 80vh;
    width: 80%;
    
}
.aside2 {
    background-color: pink;
    height: 80vh;
    width: 20%;
    

}
footer {
    display: flex;
    height: 10vh;
    background-color: green ;
    justify-content: center;
}
